[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_85438363838351E0A1D2-if00

[virtual_sdcard]
path: /home/tgm/printer_16_data/gcodes
on_error_gcode: CANCEL_PRINT

# This file is an example config file for linear delta style printers.
# One may copy and edit this file to configure a new delta printer.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# See docs/Config_Reference.md for a description of parameters.

[heater_fan hotend_fan]
pin: PH6
heater: extruder
heater_temp: 50.0

[stepper_a]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 32
endstop_pin: ^PE4
homing_speed: 100
#position_endstop: 238
#arm_length: 215

[stepper_b]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 32
endstop_pin: ^PJ0
#position_endstop: 238
#arm_length: 215

[stepper_c]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 32
endstop_pin: ^PD2
#position_endstop: 238
#arm_length: 215

[extruder]
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 7.64
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100
heater_pin: PB4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK5
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250

[printer]
kinematics: delta
max_velocity: 300
max_accel: 3000
max_z_velocity: 150
#delta_radius: 80
print_radius: 100 #max printable radius 150,set it to 152 to avoid error "out of range"
minimum_z_position: -5 #min z position nozzle won't go to the position which Z lower the vaule

[delta_calibrate]
radius: 50

[gcode_macro START_PRINT]
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    M104 S{EXTRUDER_TEMP}
    G28
    M109 S{EXTRUDER_TEMP}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.589
#*# pid_ki = 1.396
#*# pid_kd = 226.878
#*#
#*# [printer]
#*# delta_radius = 120.492466
#*#
#*# [stepper_a]
#*# angle = 210.881549
#*# arm_length = 215.000000
#*# position_endstop = 236.474381
#*#
#*# [stepper_b]
#*# angle = 331.699719
#*# arm_length = 215.000000
#*# position_endstop = 237.569439
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 215.000000
#*# position_endstop = 236.667493
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 23690.000,23690.000,23690.000
#*# height1 = 0.0
#*# height1_pos = 24920.000,24920.000,22043.000
#*# height2 = 0.0
#*# height2_pos = 22989.000,25843.000,22989.000
#*# height3 = 0.0
#*# height3_pos = 22206.000,24770.000,24770.000
#*# height4 = 0.0
#*# height4_pos = 23129.000,23129.000,25310.000
#*# height5 = 0.0
#*# height5_pos = 24626.000,22370.000,24626.000
#*# height6 = 0.0
#*# height6_pos = 25562.000,23048.000,23048.000
